.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.boldFont{
  font-weight: bold;
}
.marginAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 12px;
}
.weatherRightBlock{
  margin: auto;
  width: 65%;
  margin-top: 4px;
}

.maindiv{
  margin:auto;
  width:60%;
}
.centerAlign{
  display: flex;
  justify-content: center;
}
.subHeading{
  font-size: 13px;
   margin: 0 8px;
}
.contentColor{
  color: rgba(31,31,31,.75);
}
.flex{
  flex:1
}
.cardColor{
  color: #f9f9f9;
}
.blockStyle{
  margin:2px 0;
}
.cardBlock{
  display: flex;
}
@media only screen and (max-width: 600px) {
  .weatherRightBlock {
    width:78%;
  }
  .maindiv{
    width:unset;
  }
  .cardBlock{
    display: block;
  }
}